@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
}

html {
    font-size: "24px";
    font-family: "Virgil", serif;
}
