{{ block "room" . }}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room {{.ID}}</title>

        <link rel="stylesheet" href="/public/output.css" />

        <script
            src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

        <script src="/public/js/image.js"></script>
        <script src="/public/js/search.js"></script>
        <script src="/public/js/swipe-deck.js"></script>
    </head>

    <body class="max-w-[768px] h-dvh m-auto flex flex-col overflow-hidden">
        <div id="time"></div>

        <div class="flex justify-between p-4">
            <div id="players"></div>
            <div id="user"></div>
        </div>

        <main class="flex flex-col grow min-h-0">
            <div id="stage"></div>
            <div id="actions"></div>
        </main>
    </body>

    <script>
        const roomId = location.pathname.split("/").pop();
        document.body.setAttribute("hx-ext", "ws");
        document.body.setAttribute("ws-connect", "/ws?htmx=true");

        document.addEventListener("htmx:wsOpen", (event) => {
            event.detail.socketWrapper.send(
                JSON.stringify(
                    {
                        type: "join",
                        payload: {
                            name: getCookie("name"),
                            roomid: roomId,
                        },
                    },
                    document.body
                )
            );
        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").at(0);
        }
    </script>
</html>
{{ end }}
<!---->

{{ define "players" }}
<details id="players" class="relative">
    <summary class="cursor-pointer flex p-2 gap-2 select-none">
        <span
            class="inline-block w-[1rem] h-[1rem] bg-[url(/public/checkmark.svg)] bg-contain"
        ></span>
        <span>{{ .Ready }}/{{ .Total }}</span>
    </summary>
    <ul class="absolute bg-white p-2 border-4 rounded">
        {{ range .Players }}
        <li class="flex flex-nowrap gap-2">
            {{ if .IsHost }}
            <span>👑</span>
            {{ else if .Ready }}
            <span>✅</span>
            {{ end }}
            <span>{{ .Name }}</span>
        </li>
        {{ end }}
    </ul>
</details>
{{ end }}
<!---->

<!---->

{{ define "actions" }}
<div id="actions" class="flex justify-between">
    {{ template "action_ready" . }}
    <!---->
    {{ if .IsHost }} {{ template "action_next" . }} {{ end }}
</div>
{{ end }}
<!---->

{{ define "timer" }}
<div id="timer">
    <form
        ws-send
        hx-vals='js:{
        "type": "set_timer",
        "payload": { 
            "time_in_seconds": Number(event.target.minutes.value) * 60 + Number(event.target.seconds.value)}
        }'
    >
        <div>
            <input type="number" name="minutes" min="0" value="0" />
            <input type="number" name="seconds" min="0" max="59" value="0" />
        </div>

        <button type="submit">Set</button>
        <button type="reset">Clear</button>
    </form>
</div>
{{ end }}
<!---->

{{ define "time" }}
<div id="time" class="w-full flex justify-center">
    {{ if not eq .Seconds 0 }}
    <span> {{ format_duration . }} </span>
    {{ end }}
</div>
{{ end }}
<!---->

{{ define "list" }}
<ul id="list" class="flex-grow overflow-y-auto p-2">
    {{ range . }}
    <li class="p-2">
        <div class="flex gap-2 relative">
            <img
                src="https://image.tmdb.org/t/p/w500/{{ .PosterPath }}"
                alt="Poster to {{ .Title }}"
                class="h-36 aspect-[2/3] object-contain"
                onerror='this.onerror=null;this.src="/public/no_poster.svg"'
            />

            <div>
                <h2 class="text-2xl">{{ .Title }}</h2>
                <p>{{ .ReleaseDate.Year }}</p>

                <button
                    ws-send
                    hx-vals='js:{"type": "list_remove", "payload": { "id": "{{ .ID }}" }}'
                    hx-on:click="event.target.remove()"
                    class="absolute bottom-0 right-0 p-3"
                >
                    Remove
                </button>
            </div>
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}
<!---->

{{ define "stage_lobby" }}
<div id="stage" class="flex grow flex-col min-h-0">
    <movie-search></movie-search>
    <!---->
    {{ template "list" .List }}
</div>
{{ end }}
<!---->

{{ define "candidates" }}
<div id="candidates" class="grow relative">
    <swipe-deck
        ws-send
        hx-trigger="swipe"
        hx-vals='
            js:{
                "type": "vote",
                "payload": {
                    "id": event.detail.target.dataset.id,
                    "vote": event.detail.direction == "right"  
                }
            }'
        swipe-distance="150"
    >
        {{ range . }}
        <div
            data-id="{{ .ID }}"
            class="flex flex-col w-full shadow-lg rounded-xl absolute top-0 bottom-0 bg-white"
        >
            <img
                src="https://image.tmdb.org/t/p/original/{{ .PosterPath }}"
                alt="Poster to {{ .Title }}"
                class="pointer-events-none w-full mx-auto aspect-[2/3] rounded-t-xl object-cover min-h-[60%] max-h-[80%]"
                onerror="this.onerror=null;this.src='/public/no_poster.svg'"
            />
            <div
                class="flex flex-col grow justify-between w-full p-2 rounded-b-[inherit]"
            >
                <div>
                    <h2 class="text-2xl">{{ .Title }}</h2>
                    <p>{{ .ReleaseDate.Year }}</p>
                    <p class="text-ellipsis line-clamp-2">{{ .Overview }}</p>
                </div>

                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.themoviedb.org/movie/{{.ID}}"
                    class="p-2 flex items-baseline justify-end gap-2 text-sm text-blue-500 hover:underline"
                >
                    View on TMDB
                    <span>
                        <svg
                            height="0.75lh"
                            viewBox="0 0 32 32"
                            version="1.1"
                            id="svg1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg"
                        >
                            <path
                                style="
                                    fill: none;
                                    stroke: currentColor;
                                    stroke-width: 4;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-dasharray: none;
                                "
                                d="M 15.895145,8.473786 2,8.497244 V 30 h 21.526213 l -2.8e-5,-13.895146"
                                id="path7"
                            />
                            <path
                                style="
                                    fill: none;
                                    stroke: currentColor;
                                    stroke-width: 4;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-dasharray: none;
                                "
                                d="M 20.1357,2 H 30 v 9.8643"
                                id="path9"
                            />
                            <path
                                style="
                                    fill: none;
                                    stroke: currentColor;
                                    stroke-width: 4;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-dasharray: none;
                                "
                                d="M 19.0625,12.9375 30,2"
                                id="path10"
                            />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
        {{ end }}
    </swipe-deck>
</div>
{{ end }}
<!---->

{{ define "stage_voting" }}
<div id="stage" class="flex grow flex-col min-h-0 p-4">
    {{ template "candidates" .Candidates }}
</div>
{{ end }}
<!---->

{{ define "stage_results" }}
<div id="stage" class="flex grow flex-col min-h-0">
    <ul>
        {{ range .Results }}
        <li>
            <span>{{ .Name }} ({{ .Score }})</span>
        </li>
        {{ end }}
    </ul>
    <!---->
</div>
{{ end }}
<!---->
