{{ block "room" . }}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room {{.ID}}</title>

        <link rel="stylesheet" href="/public/output.css" />

        <script
            src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

        <script src="/public/js/search.js"></script>
    </head>

    <body class="w-[768px] h-dvh overflow-hidden m-auto flex flex-col">
        <div id="time"></div>

        <div class="flex justify-between">
            <div id="players"></div>
            <div id="user"></div>
        </div>

        <main class="flex flex-col grow overflow-hidden">
            <div id="stage"></div>
            <div id="actions"></div>
        </main>
    </body>

    <script>
        const roomId = location.pathname.split("/").pop();
        document.body.setAttribute("hx-ext", "ws");
        document.body.setAttribute("ws-connect", "/ws?htmx=true");

        document.addEventListener("htmx:wsOpen", (event) => {
            event.detail.socketWrapper.send(
                JSON.stringify(
                    {
                        type: "join",
                        payload: {
                            name: getCookie("name"),
                            roomid: roomId,
                        },
                    },
                    document.body
                )
            );
        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").at(0);
        }
    </script>
</html>
{{ end }}
<!---->

{{ define "players" }}
<div id="players">✓ {{ .Ready }}/{{ .Total }}</div>
{{ end }}
<!---->

<!---->

{{ define "actions" }}
<div id="actions" class="flex justify-between">
    {{ template "action_ready" . }}
    <!---->
    {{ if .IsHost }} {{ template "action_next" . }} {{ end }}
</div>
{{ end }}
<!---->

{{ define "timer" }}
<div id="timer">
    <form
        ws-send
        hx-vals='js:{
        "type": "set_timer",
        "payload": { 
            "time_in_seconds": Number(event.target.minutes.value) * 60 + Number(event.target.seconds.value)}
        }'
    >
        <div>
            <input type="number" name="minutes" min="0" value="0" />
            <input type="number" name="seconds" min="0" max="59" value="0" />
        </div>

        <button type="submit">Set</button>
        <button type="reset">Clear</button>
    </form>
</div>
{{ end }}
<!---->

{{ define "time" }}
<div id="time">{{ format_duration . }}</div>
{{ end }}
<!---->

{{ define "list" }}
<ul id="list" class="h-full overflow-x-auto">
    {{ range . }}
    <li>
        <div class="flex gap-2">
            <img
                src="https://image.tmdb.org/t/p/w500/{{ .PosterPath }}"
                alt="Poster to {{ .Title }}"
                class="h-[200px]"
            />
            <div>
                <p class="font-bold">{{ .Title }}</p>
                <p>{{ .ReleaseDate.Year }}</p>
            </div>
        </div>

        <button
            ws-send
            hx-vals='js:{"type": "list_remove", "payload": { "id": "{{ .ID }}" }}'
        >
            Remove
        </button>
    </li>
    {{ end }}
</ul>
{{ end }}
<!---->

{{ define "stage_lobby" }}
<div id="stage" class="flex grow flex-col overflow-hidden">
    <movie-search></movie-search>
    <!---->
    {{ template "list" .List }}
</div>
{{ end }}
<!---->

{{ define "candidates" }}
<ul id="candidates">
    {{ range . }}
    <li>
        <span> {{ .Name }} (Suggested by {{ .SuggestedBy }}) </span>
        <button
            ws-send
            hx-vals='js:{"type": "vote", "payload": { "id": "{{ .ID }}", "vote": true }}'
        >
            +1
        </button>
        <button
            ws-send
            hx-vals='js:{"type": "vote", "payload": { "id": "{{ .ID }}", "vote": false }}'
        >
            -1
        </button>
    </li>
    {{ end }}
</ul>
{{ end }}
<!---->

{{ define "stage_voting" }}
<div id="stage">
    {{ template "candidates" .Candidates }}
    <!---->
</div>
{{ end }}
<!---->

{{ define "stage_results" }}
<div id="stage">
    <ul>
        {{ range .Results }}
        <li>
            <span>{{ .Name }} ({{ .Score }})</span>
        </li>
        {{ end }}
    </ul>
    <!---->
</div>
{{ end }}
<!---->
