<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room not found</title>

        <link rel="stylesheet" href="/public/output.css" />
    </head>

    <body
        class="max-w-[768px] h-dvh m-auto flex flex-col items-center justify-around overflow-hidden"
    >
        <main class="flex flex-col items-center">
            <p>Room doesn't exist</p>

            <a
                href="/"
                class="inline text-blue-400 decoration-blue-400 underline p-3"
            >
                Back
            </a>
        </main>
    </body>
</html>
